/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Custom styles */
div {
    margin: 10px;
}

/* Estilos del formulario */
form {
    width: 70vw;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
}

fieldset {
    margin: 20px;
    padding: 10px;
    border: 1px solid #C0C0C0;
    border-top: 2px solid #000080;
}

div.required > label::before {
    content: "* ";
    color: red;
}

form > button.enviar {
    padding: 10px 20px;
    background-color: #000080;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 95%;
    transform: translateX(-70%);
}


form > h6 {
    margin-left: 20px;
    margin-top: 10px;
    font-weight: bold;
}

form > h6::before {
    content: "* ";
    color: red;
    font-weight: normal;
}

i.tooltip {
    color: #0000FF;

}

i.tooltip:hover::after {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    position: absolute;
    background-color: #E8F5FD;
    border: 1px solid #C1D7F1;
    padding: 5px;
    margin-left: 5px;
    margin-right: 25px;
    font-size: 14px;
    z-index: 100;
}

i#tooltip_documento:hover::after {
    content: "Este identificador se utilizará como usuario de acceso a la Sede Electrónica.";
}

i#tooltip_soporte:hover::after {
    content: "Si selecciona como Tipo de Documento DNI deberá informar el IDESP, si por el contrario selecciona NIE deberá informar el IXESP para que el Sistema pueda verificar sus Datos de Identidad con la Dirección General de la Policía. Ver ayuda identidad. Le recordamos en tal caso, que la información introducida en los campos Nombre, Primor apellido y Segundo apellido (en caso de estar informado) deben ser EXACTAMENTE IGUALES a los existentes en su documento de identificación. ";
}

i#tooltip_contact:hover::after {
    content: "El correo electrónico y el teléfono móvil indicados se utilizarán para recibir comunicaciones relativas a los trámites implementados en esta sede electrónica.";
}

/* Estilos del modal */

#consentimiento {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 15px;
    width: 100%;
    height: 100%;
    transform: scale(1.1);
    hyphens: auto;
    overflow: auto;
    background-color: white;
    border: 2px solid grey;
}

#consentimiento pre {
    margin: 20px auto;
}

#consentimiento button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#consentimiento button.acept {
    background-color: #000080;
    color: white;
    margin-left: 50px;
}

#consentimiento button.reject {
    background-color: #FF0000;
    color: white;
}

.modal {
    visibility: hidden;
    opacity: 0;
}

.modal.is-visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.35s ease-in;
}




